* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #72efdd;
  --white-background: #f8f8ff;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat&family=Itim&family=Kalam:wght@300&family=Patrick+Hand&family=Ubuntu+Condensed&display=swap");
body {
  letter-spacing: 1.2px;
  /* font-family: "Architects Daughter", cursive; */
  /* font-family: "Caveat", cursive; */
  /* font-family: "Itim", cursive; */
  /* font-family: "Kalam", cursive; */
  font-family: "Patrick Hand", cursive;
  /* font-family: "Ubuntu Condensed", sans-serif; */
  background-color: var(--white-background);
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
